@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Gelasio:400,500,600,700&display=swap');


body {
    width: 100%;
    height: 100%;
    background: black;
    font-family: 'Gelasio', sans-serif;
    position: relative;
    height: 100vh;
}

a {
    color: #F44336;
    text-decoration: underline dotted;
}

button {
    border: 0;
    /* border-radius: 3rem; */
    padding: 0.75rem 2rem;
    background: #f44336;
    color: white;
    outline-color: transparent;
    transition: all 0.2s ease;
}

button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.2rem 1rem rgba(244, 67, 54, 0.75);
    background: #ef5350;
}

button:active {
    background: #D32F2F;
}

section {
    width: 100%;
    height: 100vh;
    background: #F44336;
    display: flex;
    align-items: center;
    position: fixed;
    opacity: 0;
    transition: all 1s ease;
}

section.active {
    z-index: 9;
    opacity: 1;
}

section .container {
    transition: all 1s cubic-bezier(0.25, 0.25, 0, 1);
    transform: perspective(20px);
}

section:not(.active):nth-of-type(odd) .container{
    transform: perspective(20px) rotateX(-1deg) translateY(-20rem);
}

section:not(.active):nth-of-type(even) .container{
    transform: perspective(20px) rotateX(1deg) translateY(20rem);
}


#loading.active {
    z-index:999;
}

#loading {
    text-align: center;
    color: white;
    background: #000000;
}

#loading span {
    display: block;
    font-size: 7rem;
    font-weight: bolder;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 5rem 0;
    position: relative;
}

.scroll {
    position: fixed;
    display: inline-block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 3rem;
    height: 2rem;
    color: white;
    text-align: center;
    opacity: 0.33;
    z-index: 99;
    pointer-events: none;
}

.scroll:before {
    content: '';
    display: block;
    position: absolute;
    width: 1rem;
    height: 2.25rem;
    border: 0.075rem solid white;
    border-radius: 5rem;
    top: -3.25rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.scroll:after {
    content: '';
    display: block;
    position: absolute;
    width: 0.15rem;
    height: 0.3rem;
    background: white;
    border-radius: 2rem;
    margin: 0 auto;
    top: -2.75rem;
    left: 0;
    right: 0;
    animation: scroll 2s infinite;
}


@keyframes scroll{
    0% {
        transform: translateY(0rem);
        opacity: 1;
    }
    50% {
        transform: translateY(0.5rem);
        opacity: 0.33;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

#hero {
    color: white;
    background: #000000;
    text-align: center;
}

#hero span {
    display: block;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.87);
    transition: all 1s ease-out 0.1s;
}

#hero .name {
    font-size: 8rem;
    font-weight: bolder;
    color: #f44336;
    transition: all 1s ease-out;
}



#hero.loading span {
    transform: translateX(-4rem);
    opacity: 0;
}

#about {
    background: #1f1f1f;
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    font-size: 2rem;
}

#skills {
    background: #000000;
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.2rem;
    text-align: center;
}

#skills ul {
    margin: 2rem 0;
    padding: 0;
}

#skills ul li {
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 2rem;
}

#skills ul li i {
    display: block;
    font-size: 5rem;
    margin-bottom: 0.5rem
}

#gallery {
    display: flex;
    background: #1f1f1f;
}

#gallery .item {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#gallery .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

#gallery .item .card {
    background: rgba(244, 67, 54, 0.75);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
}

#gallery .item:hover .card {
    opacity: 1;
}

#gallery .item .card .center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-50%)
}


#gallery .item .card .link {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.33);
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 3rem;
}


#gallery .item .card span {
    display: block;
    color: white;
}

#gallery .item .card .title {
    font-size: 2rem
}

#gallery .item .card .sub {
    opacity: 0.75
}

#contact {
    background: #000000;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

#contact ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

#contact ul li {
    display: inline-block;
}

#contact ul li a{
    background: rgba(255, 255, 255, 0.2);
    color: white;
    display: block;
    padding: 1rem;
    margin: 0 0.25rem;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    border-radius: 5rem;
    transition: all 0.3s ease;
}

#contact ul li a:hover{
    background: rgba(244, 67, 54, 0.25);
    color: #F44336;
}


footer {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    bottom: 0;
    padding: 0.1rem 1.5rem;
    text-align: left;
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.75rem;
    z-index: 999;
    transition: all 0.3s ease;
}

footer:hover {
    opacity: 0.1;
}

footer:hover *{
    pointer-events: none;
}

footer i {
    color: #F44336;
}